$primary: #5f5f5f;
$secondary: #b8b8b8;
$info: #3493bf;
$warning: #ffb822;
$error: #f4516c;
$success: #84c268;

$color: darken(#898b96, 10%); // Text color
$fontFamily: 'Titillium Web'; // font family
